    /*Bootstrap wird nur f端r die social media benutzt */
    @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

    /* CSS for Index Page */
    body {
        font-family: Gotham, Helvetica, Arial, sans-serif;
        color: black;
        margin: 0px auto;
        padding: 30px;
        background: url() no-repeat;
        background-size: cover;
        background-image: url(../img/woodBright.jpeg);
        background-repeat: repeat-x; 
    }
    #alles {
        padding: 30px;
    }

    .nav {
        color: black; 
        float: left;
    }

    #main {
        background: #fff;
        padding: 4em 0;
    }

    .aufzaehlung {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 30px; 
        text-decoration: none;
    }
    .aufzaehlung:hover {
        color: red;
    }

    h1 {
        text-transform: uppercase;
    }

    #ulInNavigation {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0,0.9);
        width: 45%;
    }
    #bildMe{
        background-image: url(../img/sven.jpg);
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #000;
        width: 8rem;
        height: 8rem;
        background-size: cover;
    }
    #bildMe:hover{
        background-image: url('../img/replacePic.png');
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #000;
        width: 8rem;
        height: 8rem;
    }


    #textContainer {
        background: rgba(0, 0, 0,0.7);

    }

    /*CSS f端r den Abstand zwischen Social Media buttons*/
    #abstand{
        display: none;
    }


    /* CSS f端r die Social Media Buttons */

    a, a:hover {
        text-decoration: none;
    }

    .socialbtns, .socialbtns ul, .socialbtns li {
        margin: 0;
        padding: 5px;
    }

    .socialbtns li {
        list-style: none outside none;
        display: inline-block;

    }

    .socialbtns .fa {
        color: #FFF;
        background-color: #000;
        width: 40px;
        height: 28px;
        padding-top: 12px;
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }

    .socialbtns .fa:hover {
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

    /*CSS f端r Smartphone und Tablet */
    @media (max-device-width:400px) {

        .nav{
            float: all;
            display: block;
        }
        #alles{
            width: auto;
        }
        .socialbtns a{

            padding-top: 50%;    }

            #abstand{
                display: block;
            }
            body{

        background-attachment: fixed;
    }
    #ulInNavigation {
        width: 100px;
    }
}

    /*
    Tablet-Mode
    */
    @media (min-width:401px) and (max-width: 960px)  {

      body{

        background-attachment: fixed;
    }
    .socialbtns a{

        padding-top: 50%;    }

        #abstand{
            display: block;
        }
    }